body {
  font-family: "Poppins", sans-serif;
  line-height: inherit;
}

.navbar {
  width: 100%;
  display: flex;
  flex-direction: column;
  border-bottom: 1px dashed;
  border-color: gainsboro;
  position: fixed;
  backdrop-filter: blur(15px);

  .nav {
    width: 100%;
    padding: 0 10rem;

    .nav-content {
      width: 100%;
      display: flex;
      flex-direction: row;
      padding: 1.5rem 2rem;
      align-items: center;
      justify-content: space-between;
      border-left: 1px dashed;
      border-right: 1px dashed;
      border-color: gainsboro;

      a {
        text-decoration: none;

        p {
          font-size: 24px;
          font-weight: bold;
          color: black;
        }
      }
      .nav-list {
        display: flex;
        list-style: none;
        align-items: center;

        li {
          margin-right: 5rem;
          font-size: 16px;

          a {
            text-decoration: none;
            color: black;
          }
        }
      }
    }
  }
}

.button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  color: white;
  font-size: 16px;
  height: 3.5rem;
}

.main {
  margin: 0 auto;
  width: 100%;
  max-width: 1920px;
  padding: 2rem 10rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* border-bottom: 1px dashed;
  border-color: gainsboro; */

  .about {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5rem 0;
    border-left: 1px dashed;
    border-right: 1px dashed;
    border-bottom: 1px dashed;
    border-color: gainsboro;

    .about-content {
      display: grid;
      grid-template-columns: 1fr 1fr;

      .about-txt {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 0 20px;
      }

      .about-img {
        width: fit-content;
        margin-right: 10px;
      }

      img {
        width: 80%;
        border-radius: 20px;
      }
    }
  }

  .projects {
    width: 100%;
    display: flex;
    padding: 10rem 5rem;
    flex-direction: column;
    border-left: 1px dashed;
    border-right: 1px dashed;
    border-color: gainsboro;

    .projects-content {
      width: 100%;
      display: flex;
      overflow: hidden;
      overflow-x: auto;
      overflow-y: hidden;
      scroll-snap-type: x mandatory;
      gap: 4rem;
      width: calc(100% - 16px);
      margin: 8px;
      flex: 0 0 calc(100% - 16px);
    }

    .project-link {
      border: 1px solid #ccc;
      padding: 10px;
      margin-bottom: 20px;
      min-width: 350px;
      border-radius: 20px;
      scroll-snap-align: start;

      h2 {
        font-size: 20px;
        margin-bottom: 10px;
      }

      p {
        margin-bottom: 10px;
      }

      img {
        max-width: 100%;
        height: auto;
        display: block;
        margin-top: 10px;
      }
    }

    .project-link::-webkit-scrollbar {
      display: none;
    }
  }

  .skills {
    display: flex;
    width: 100%;
    flex-direction: column;
    padding: 5rem 5rem;
    border-left: 1px dashed;
    border-right: 1px dashed;
    border-bottom: 1px dashed;
    border-color: gainsboro;

    .skills-content {
      display: flex;
      width: 100%;

      .skills-list {
        display: flex;
        flex-direction: column;
        padding-bottom: 2rem;
      }
    }
  }
}

.footer {
  width: 100%;
  margin: 0 auto;
  background: #000;
  color: #fff;
  padding: 5rem 10rem;
  display: flex;
  flex-direction: column;

  .footer-contact {
    display: flex;
    justify-content: space-between;
    flex: 1;
  }

  .bx {
    font-size: x-large;
    color: #fff;
    text-decoration: none;
    margin-right: 2rem;
  }
  /* border-top: 1px dashed;
  border-color: #fff; */
}
